<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/host_spaces" method="post">
      <input type="text" name="name" placeholder="name your space">
      <input type="text" name="description" placeholder="add a description">
      <input type="text" name="ppn" placeholder="price per night">
      <button type="sumbit" name="button">Add your space</button>
    </form>
  </body>
</html>
