<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Welcome to MakersBnB, You're Home away from Home! </h1>
    <form class="form-inline" action="/" method="post">
      <input type="text" id="username" name="username" placeholder="username">
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <button type="submit">SignUp</button>
    </form>
  </body>
</html>
