<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="form-inline" action="/view-spaces">
      <button type="submit" name="explore">Explore spaces</button>
    </form>
    <form class="" action="/host-space">
      <button type="submit" name="host">Host a space</button>
    </form>


  </body>
</html>
